@import "../settings/colors";
@import "../settings/fonts";

.header {
  &__container {
    display: flex;
    max-width: 1760px;
    position: relative;
  }
  &__image {
    left: -480px;
    position: relative;
  }
  &__content {
    max-width: 785px;
    position: absolute;
    right: 0;
    width: 100%;
  }
  &__main {
    position: relative;
    right: 130px;
  }
  &__title {
    font-size: $headers-size;
    margin: 210px 0 25px 0;
    text-align: center;
    &-h1 {
      font-weight: 400;
      line-height: 55px;
      text-decoration: none;
    }
  }
  &__deco {
     margin-bottom: 65px;
     text-align: center;
   }
  &__buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 268px;
  }
}
.btn {
  align-items: center;
  border: solid 1px $color-text;
  display: flex;
  font-size: 2.25rem;
  font-weight: 300;
  height: 120px;
  justify-content: center;
  line-height: 45px;
  max-height: 120px;
  margin-right: -45px;
  max-width: 310px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  &:last-child {
    margin-right: 0;
  }
}