@import "../settings/colors";
@import "../settings/fonts";

.navigation {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  max-height: 95px;
  max-width: 685px;
  &__login {
    display: flex;
    justify-content: flex-end;
    &-buttons {
      display: flex;
    }
    &-element {
      cursor: pointer;
      font-family: $font-base;
      font-size: 0.875rem;
      margin-right: 10px;
      padding: 10px;
      &:hover {
        border: $color-accent solid 1px;
      }
      &focus {
        border: $color-accent solid 1px;
      }
    }
  }
  &__menu {
    margin-top: 15px;
    width: 100%;
    &-main {
      display: flex;
      justify-content: space-between;
    }

    &-element {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $font-base;
      font-size: $main-fontsize;
      height: 42px;
      text-align: left;
      padding: 0 20px;
      &:hover {
        border: solid 1px $color-text;
      }
      &:focus {
        border: solid 1px $color-text;
      }
    }
  }
}