@import "../settings/colors";
@import "../settings/fonts";

.page {
  border-bottom: solid 1px $color-border;
  font-family: $font-alt;
  font-size: $main-fontsize;
  font-weight: 300;
  margin-bottom: 35px;
  &-last {
    border-bottom: none;
    margin-bottom: 75px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1345px;
    width: 100%;
  }
  &__title {
    font-size: 1.625rem;
    margin: 0;
  }
  &__needs {
    margin: 0;
  }
  &__text {
    text-align: left;
    font-style: italic;
    margin: 0 0 30px 0;
  }
}